body {
    margin: 0;
    background-color: #E5E5E5;
    box-sizing: border-box;
    font-family: 'Inika';
}

.h1 {
    margin: 72px 0px;
    font-weight: 700;
    font-size: 40px;
}

.line {
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    padding: 25px;
}

.header {
    text-align: center;
    max-height: 110px;
    color: #3E45E8;
    font-weight: 400;
    font-size: 48px;
    padding: 24px 404px 32px 488px;
}

.header-Ukraine {
    color: #FBE201;
}

.header-font {
    font-family: 'M PLUS 1';
}

.banner {
    padding-top: 195px;
    box-sizing: border-box;
    padding-left: 118px;
    background-size: 100%;
    height: 803px;
    background-image: url(../img/image\ 1.png);
    background-repeat: no-repeat;
}

.text-banner {
    background-image: url(../img/flag.png);
    padding-top: 0%;
    width: 75%;
    box-sizing: border-box;
    padding-left: 118px;
    block-size: border-box;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.main {
    padding: 0 80px;
}

.card {
    border: 1px solid black;
    width: 30%;
    color: black;
    display: inline-block;
    vertical-align: top;
    border-radius: 8%;
    overflow: hidden;
    box-shadow: 0px 4px 57px 3px;
}

.card-image {
    width: 100%;
}

.card-title {
    font-weight: 700;
    font-size: 36px;
    color: #1E8DF2;
    padding: 10px;
    box-sizing: border-box;
}

.card-subtitle {
    font-weight: 400;
    font-size: 28px;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;
}

.card-margin {
    margin: 0 4.5%;   
}

.line2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.button {
    background-color: #2A61F0;
    width: 592px;
    height: 122px;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: white;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}

.footer {
    background-color: #2F4A4B;
    box-sizing: border-box;
    margin-top: 10px;
}

.text-footer {
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #3E45E8;
    text-align: center;
}

.email {
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    text-align: center;
    padding: 10px;
}

.card-footer {
    border: 1px solid rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative; left: 41%;
    margin-left: -50px;
    width: 64px;
    padding: 30px;
}

.image-footer {
    width: 100%
}      